.App {
  /* padding: 20px; */
  min-height: 100vh;
  /* background-color: #ffffff; */
  /* color: #282c34; */
  /* background-color: #f5f6f7; */
  background-color: white;

}

/* background of login/register */
.Auth {
  /* background-image: url("images/gym.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 100vh; */
}

.Welcome-header {
  /* text-align: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: #282c34; */
  margin-top: 40px;
  margin-bottom: 25px;
  /* font-style: Courier; */
}

.Welcome-header h1 {
  color:#d1d6de;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 1 freespace between the cols so it shares 50% of width space 2 3 */
  grid-gap: 20px;
}

.custom_navbar {
  line-height: 45px; /* increase height of nav bar */
}


.login-container {
  margin: 0 auto;
  text-align: center;
  /* display: block; */
  margin-top: 100px;
  width: 450px;
  height: 450px;
  border: 0.5px solid;
  border-radius: 10px;
  background-color: #343a40;
  border-color: lightgray;
  position: relative; /* needed to keep welcome terms at bottom of div */
}

.login-container input {
  padding: 10px;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  width: 275px;
  margin-bottom: 15px;
}

.login-container button {
  /* color:#f57a7a; */
  width: 140px;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  border: 2.5px solid lightgray;
  cursor: default;
  background: #f5f7fa;
  margin-top: 10px;
}

.login-container button:active {
  border-style:inset;
}
.login-container button:disabled {
  color: #282c34;
  background-color: #ffffff;
  cursor: not-allowed;
}

/* Style the search box inside the navigation bar */
.custom_navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Register/login here */
.welcome_links {
  cursor: pointer;
  color : #328cd1;
}

/* Terms and conditions */
.welcome_terms {
  display: table-cell;
   
}

.welcome_terms ul {
  bottom: 0;
  position: absolute;
}

.welcome_terms li {
  float: left;
  margin-right: 35px;
}

.welcome_terms a {
  color: #ccd3de;
}

.login_message {
  color: white;
}
.welcome_span {
  display: inline-block;
  padding: 35px;
} 

.custom_navbar {
  font-size: 1.25rem;
}

.invalid_login {
  padding: 15px;
  color:red;
}


.fa-sign-out-alt {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}